@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@400;700;900&family=Manrope:wght@400;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.48px;}

/* header */
.container, .lines{
  max-width: 1400px;
  margin: 0 auto;
}
.header_logo, .footer_logo{
  padding: 20px;
}
.lines{
  content: '';
  height: 50px;
}
.lines::before{
  content: '';
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}
a{
  color: white;
  text-decoration: none;
}







/* footer  */
footer {
  background-color: rgba(48, 96, 73, 1);
  height: 505px;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}
.footer_blocks{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  gap:20px;
  height: 176px;
  padding: 80px 0;
}
.blocks{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  gap:20px;
}
.footer_block-info,.footer_block-company,.footer_block-contact,.footer_icons{
  display: flex;
  flex-direction: column;
  height: 173px;
}
.footer_block-info>h3, .footer_block-company>h3{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.footer_block-info>h3::after, .footer_block-company>h3::after{
  content: '';
  display: inline-block;
  width: 214px;
  border: 1px solid white;
}
.footer_cards{
  display: flex;
  padding:24px 0 0;
  gap: 10px;
  opacity: 0.5;
}
.footer_block-contact{
  grid-column: 2/3;
}
.footer_icons{
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}
.footer_icons-faceb,.footer_icons-inst{
  display: flex;
  gap: 10px;
  align-items: center
}
.footer_icons-faceb>img,.footer_icons-inst>img{
  width: 36px;
  height: 36px;
}
.solid, .footer_{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}