@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@400;700;900&family=Manrope:wght@400;700&display=swap');
@media (width >= 800px) {
  body {
    font-weight: 700;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    line-height: 18px;
    letter-spacing: 0.48px;
  }

  .container,
  .lines {
    max-width: 1400px;
    margin: 0 auto;
  }

  a {
    color: white;
    text-decoration: none;
  }



  /* header */
  .header_logo,
  .footer_logo {
    padding: 20px;
  }

  .header_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lines::before {
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    content: '';
  }

  .header_search,
  .header_basket,
  .img_search {
    display: none;
  }
}

/*MAIN*/
main {
  background-color: #306049;
}

.main-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-right: 50px;
  margin-left: 50px;
  color: #ffffff;
  background-color: #306049;
  font-weight: 700;
  font-size: 12px;
  font-family: Manrope, sans-serif;
  line-height: 18px;
  letter-spacing: 0.48px;
}

select {
  width: 100%;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background-color: #306049;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-image: url('/images/Arrow\ down.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.55em);
  background-size: 2em auto;
}

.white {
  display: flex;
  flex-direction: column;
  color: #306049;
  background-color: #ffffff;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.btn-1,
.btn-2 {
  width: 100%;
  color: #306049;
  border-radius: 4px;
  border-color: #306049;
  background-color: #ffffff;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  height: 2.5em;
}

.btn-1:hover {
  color: #306049;
  background-color: rgb(239, 237, 237);
  border-color:rgb(249, 52, 52);
}

.btn-2:hover {
  background-color: green;
  border-color:rgba(0, 0, 0, 0.25);
}

.btn-1:active, .btn-2:active {
  color: rgb(240, 239, 239);
  background-color: #dfdfdf;
}

.form {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: #306049;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.finalPrice_container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.finalPrice {
  font-size: 24px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 34px;
  margin-top: 50px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.hide {
  display: none;
}

input::placeholder {
  font-size: 18px;
}
input:valid {
  border-color: greenyellow;
}

article {
  margin-bottom: 30px;
}

.comments {
  color: red;
  font-size: 18px;
  text-align: center;
  padding: 5px 0 10px;
}

@media (width >= 800px) {
  /* footer  */
  footer {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    background-color: rgb(48 96 73 / 100%);
  }

  .footer_blocks {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    height: 176px;
    padding: 80px 0;
  }

  .blocks {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer_block-info,
  .footer_block-company,
  .footer_block-contact,
  .footer_icons {
    display: flex;
    flex-direction: column;
    height: 173px;
  }

  .footer_block-info > a:hover,
  .footer_block-company > a:hover,
  .footer_block-contact > a:hover,
  .footer_icons > a:hover {
    opacity: 0.5;
  }

  .footer_block-info > h5,
  .footer_block-company > h5 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .footer_block-info > h5::after,
  .footer_block-company > h5::after {
    display: inline-block;
    width: 90%;
    border: 1px solid white;
    content: '';
  }

  .footer_cards {
    display: flex;
    gap: 10px;
    padding: 24px 0 0;
    opacity: 0.5;
  }

  .footer_block-contact {
    grid-column: 2/3;
  }

  .footer_icons {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.44px;
    text-transform: uppercase;
  }

  @media (width <1050px) {
    .footer_logo > img {
      max-width: 350px;
    }
    .footer_block-info > h5::after,
    .footer_block-company > h5::after {
      width: 170px;
    }

    .blocks {
      gap: 5px;
    }

    .footer_icons {
      font-size: 14px;
    }
  }

  @media (width <=1200px) {
    .container,
    .lines {
      max-width: 1000px;
      margin: 0 auto;
    }

    .footer_icons {
      width: 20%;
    }
  }

  .footer_icons-faceb,
  .footer_icons-inst {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .footer_icons-faceb > img,
  .footer_icons-inst > img {
    width: 36px;
    height: 36px;
  }

  .solid,
  .footer_ {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
