/* stylelint-disable prettier/prettier */
/* тут стили для мэйна каталога  */

main {
  padding: 70px 0 20px;
  /* stylelint-disable-next-line order/properties-order */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* stylelint-disable-next-line order/properties-order */
  align-items: flex-start;
}

.filters {
  /* width: 20%; */
  width: 260px;
  height: 30px;
  background-color: aqua;
}

.catalog {
  padding: 20px;
  /* stylelint-disable-next-line order/properties-order */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* stylelint-disable-next-line order/properties-order */
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* stylelint-disable-next-line order/properties-order */
  align-items: center;
}

.img-card {
  max-width: 246px;
  max-height: 246px;
}
.hidden {
  display: none;
}
